<!-- app/views/contact_mailer/contact_email.html.erb -->
<div class="card border-primary mb-3">
  <div class="card-header bg-primary text-white">
    <h1 class="card-title">Contact Now: <%= @property.name %></h1>
  </div>
  <div class="card-body">
    <p class="card-text">Hello <%= @user.name %>,</p>
    <p class="card-text">Thank you for showing interest in our services, we'll get back to you shortly.</p>
  </div>
</div>
