<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
  <body>
    <h1>Welcome to Our Application!</h1>
    <p>Dear <%= @user.name %>,</p>
    <p>Thank you for signing up to our application.</p>
    <!-- Additional content here -->
  </body>
</html>