<h2>Property show</h2>
<ul>
<% if flash[:error] %>
  <div>
    <%= flash[:error] %>
  </div>
<% end %>

<section>
  <%= render(@favorite.fav_items) %>
    <div>
        <%= link_to "Empty cart", favorite_path(@favorite),data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </div>
</section>

<div>
  <%= link_to 'Keep Looking', properties_path%>
</div>
<hr />
