<h1>Your Wishlist</h1>
<% if @cart_properties.any?%>
    <ul>
        <% @cart_properties.each do |cart|%>
            <li><%= cart.property.name %></li>
        <% end %>
    </ul>
<%else%>
    <p>Your Cart is empty</p>
<%end%>