<h1>Editing Favorite item</h1>

<%= render "form", fav_item: @fav_item %>

<br>

<div>
  <%= link_to "Show this favorite item", @fav_item %> |
  <%= link_to "Back to favorite items", fav_items_path %>
</div>