<p style="color: green"><%= notice %></p>

<h1>Favorite items</h1>

<div>
  <% @fav_items.each do |fav_item| %>
    <%= render fav_item %>
    <p>
      <%= link_to "Show this favorite item", fav_item %>
    </p>
  <% end %>
</div>

<%= link_to "New Fav Item", new_fav_item_path %>