<!DOCTYPE html>
<head>
<title>Front Page</title>
  <style>
  </style>
</head>
<body>
    <h1>Welcome to Our Website!</h1>
    <p>
    Welcome to our dynamic real estate buying and selling platform! At LuxeLiving, we take pride in revolutionizing the way properties are bought and sold, making the process seamless and rewarding for everyone involved.</p>
    <p>
    Our mission is to create a user-centric environment that caters to the needs of both property seekers and sellers, offering a one-stop solution for all your real estate requirements. Whether you're looking for your dream home, a lucrative investment property, or an efficient way to sell your existing property, our website is designed to be your trusted companion throughout the journey.
    </p>
    
    <p>
    For property seekers, we have a vast and diverse selection of listings, ensuring you find the perfect match that aligns with your preferences, lifestyle, and budget. Our intuitive search and filtering options allow you to narrow down your choices effortlessly, saving you time and effort in the process. Plus, you can receive instant alerts when new properties meeting your criteria hit the market, keeping you one step ahead of others.
    </p>
    <p>
    Sellers benefit from our user-friendly listing tools that empower you to showcase your property's best features, compelling potential buyers to take notice. Our sophisticated analytics help you set a competitive price and track market trends, ensuring you get the best value for your property. Additionally, our seamless communication tools enable you to interact directly with interested buyers, making negotiations and transactions smoother than ever before.
    </p>

    <p>
    At LuxeLiving, we prioritize transparency, security, and a seamless user experience. Our dedicated team works diligently to maintain a trustworthy platform where users can confidently connect and collaborate, creating an ecosystem that fosters mutual success.
    </p>
    <p>
    Join us today and experience the future of real estate buying and selling. Whether you're a first-time homebuyer, an investor, or a seasoned seller, our website is your key to unlocking a world of opportunities in the real estate market. Explore, discover, and thrive with us as we redefine the way properties are bought and sold.
    </p>
    <p>
    Our mission is to create a user-centric environment that caters to the needs of both property seekers and sellers, offering a one-stop solution for all your real estate requirements. Whether you're looking for your dream home, a lucrative investment property, or an efficient way to sell your existing property, our website is designed to be your trusted companion throughout the journey.
    </p>
    
    <p>
    For property seekers, we have a vast and diverse selection of listings, ensuring you find the perfect match that aligns with your preferences, lifestyle, and budget. Our intuitive search and filtering options allow you to narrow down your choices effortlessly, saving you time and effort in the process. Plus, you can receive instant alerts when new properties meeting your criteria hit the market, keeping you one step ahead of others.
    </p>
    <p>
    Sellers benefit from our user-friendly listing tools that empower you to showcase your property's best features, compelling potential buyers to take notice. Our sophisticated analytics help you set a competitive price and track market trends, ensuring you get the best value for your property. Additionally, our seamless communication tools enable you to interact directly with interested buyers, making negotiations and transactions smoother than ever before.
    </p>
    <p>
    Together, let's make your real estate dreams a reality!
    </p>
    <% if user_signed_in?%>
           <div style="padding-bottom: 5px">   <%= link_to "Sign Out", destroy_user_session_path, data:{turbo_method: :delete}, class:"join-button"%></div>
    <% else %>
            <div style="padding-buttom: 5px">  <%= link_to "Sign In", new_user_session_path ,class:"join-button"%></div>
    <%end%>
    <!-- Footer -->
  <footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>LuxeLiving
            </h6>
            <p>
              Using this app you can look for the properties to buy or rent out. You can also sale out your properties and get connected to our users and our community.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset text-decoration-none">Ruby</a>
            </p>
            <p>
              <a href="#!" class="text-reset text-decoration-none">Rails</a>
            </p>
            <p>
              <a href="#!" class="text-reset text-decoration-none">React</a>
            </p>
            <p>
              <a href="#!" class="text-reset text-decoration-none">Bootstrap</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset text-decoration-none">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset text-decoration-none">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset text-decoration-none">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset text-decoration-none">Help</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Indore, MP, 452002, India</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              LuxeLiving@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 91 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 91 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold text-decoration-none" href="#">LuxeLiving.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</body>
</html>

