 <p>
    <strong>Name:</strong>
    <%= review.name%>
</p>
<p>
    <strong>Review:</strong>
    <%= review.body%>
</p>
<p>
    <% if current_user && @property.user && current_user.name == @property.user.name %>
        <%= button_to "Destroy Review", [review.property, review], method: :delete %>
    <% end %>
</p>