<h1 style="color: green; font-family: 'Arial', sans-serif; font-weight: bold; font-size: 24px;">
  Payment is Successful
</h1>
<div class="d-inline-block">
  <%= link_to "Back To Home", root_path, class: "btn btn-primary" %>
</div>
